{:kotoba.app/id "cloud.itonami.isic-4661", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifc3q7gpuy4zviufiloacnc73wgo22thy7t6z3md7iq52pskc7u3i", :kotoba.app/embed-url "ipfs://bafkreifc3q7gpuy4zviufiloacnc73wgo22thy7t6z3md7iq52pskc7u3i", :published {:archive "https://kotobase.net/ipfs/bafkreifc3q7gpuy4zviufiloacnc73wgo22thy7t6z3md7iq52pskc7u3i", :size 72675, :put-status 201, :get-status 200, :at "2026-08-15T14:00:04.174Z"}}
